.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
.active.scale-up {
  animation: scale-up 500ms ease-in;
}
.active.fade-left-scale-up {
  animation: fade-left-scale-up 1s ease-in;
}


  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
      backdrop-filter: blur(20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      backdrop-filter: blur(0);
    }
  }
  @keyframes fade-top {
    0% {
      transform: translateY(-60px);
      opacity: 0;
      backdrop-filter: blur(20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      backdrop-filter: blur(0);
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
      backdrop-filter: blur(20px);

    }
    100% {
      transform: translateX(0);
      opacity: 1;
      backdrop-filter: blur(0);
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
      backdrop-filter: blur(20px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
   backdrop-filter: blur(0);
    }
  }
  @keyframes fade-left-scale-up {
    0% {
      transform: translateX(100px) scale(0.8);
      backdrop-filter: blur(20px);
    }
    50% {
      transform: translateX(0) scale(0.8);
      backdrop-filter: blur(20px);
    }
    100% {
      transform: translateX(0) scale(1);
      backdrop-filter: blur(20px);
    }
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.8);
      opacity: 0;
      backdrop-filter: blur(20px);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      backdrop-filter: blur(0px);
    }
  }